.g-button-group {
  display: inline-flex;
  gap: 1px;
  box-sizing: border-box;
  .g-button {    
    border-radius: 0;

    &:first-child {
      border-radius: .375rem 0 0 .375rem;
    }

    &:last-child {
      border-radius: 0 .375rem .375rem 0;
    }

    &.is-circle, &.is-rounded {
      &:first-child {
        border-radius: 99em 0 0 99em;
      }

      &:last-child {
        border-radius: 0 99em 99em 0;
      }
    }

    &.g-size--mini, &.g-size--small {
      &:first-child {
        border-radius: .25rem 0 0 .25rem;
      }

      &:last-child {
        border-radius: 0 .25rem .25rem 0;
      }
    }
  }
}