@import "@/globals/gyu_colors.scss";

.g-input__wrap {
  display: inline-flex;  
  position: relative;

  &.label-top {
    flex-wrap: wrap;    
    .g-input__label-text {
      width: 100%;
      margin-bottom: .375rem;
      flex-direction: row;
    }
  }

  &.label-right {
    flex-direction: row-reverse;
    .g-input__label-text {
      padding-left: .75rem;
      padding-right: 0;
      flex-direction: row;
    }
  }

  .g-input__label-text {
    width: 7.5rem;
    color: $-color-text-lighten-10;        
    font-size: .75rem;            
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-right: .75rem;
  }  

  .g-input__inner {
    flex-basis: 11.25rem;
    flex-shrink: 0;
    height: calc(2.5rem);
    font-size: .875rem;
    color: $-color-text;  
    padding: 0 .75rem;
    box-sizing: border-box;    
    border: 1px solid $-color-default-darken-10;
    border-radius: .375rem;
    outline-color: $-color-primary-lighten-05;    
    transition: .2s;
  }  
}