@import "@/globals/gyu_colors.scss";

/* button mixin */
@mixin buttonMixin ($kind, $background-color, $outline-color, $font-color, $active-color, $hover-color, $focus-color){
  &--#{$kind} {
    background: $background-color;    
    color: $font-color;    

    &.is-ghost {    
      background: none;
      border: 1px solid $outline-color;
      color: $outline-color;
      &:hover, focus {
        background: $background-color;
        color: $font-color;
      }

      &:active {
        background: $active-color;
      }
    }

    &.is-link {    
      background: none;
      border: none;
      color: $outline-color;
      &:hover, &:focus {
        background: $-color-light;        
      }
      
      &:active {
        background: $-color-gray;
      }
    }

    &:hover {
      background: $hover-color;
    }
    
    &:focus {
      background: $focus-color;
    }

    &:active {
      background: $active-color;
    }
  }
}

/* GButton styles */
.g-button {
  height: 2rem;
  position: relative;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1;
  color: #32353A;
  padding: 0 0.5rem;
  border: none;
  border-radius: .375rem;
  box-sizing: border-box;  
  outline: none;
  transition: .2s;
  cursor: pointer;
  overflow: hidden;

  .button__icon {
    vertical-align: middle;
  }

  .button__icon + .button__text {
    margin-left: 0.375rem;
  }

  .button__text + .button__icon {
    margin-left: 0.375rem;
  }

  /* size */
  &.g-size--mini {
    height: 1.5rem;    
    font-size: 0.75rem;
    padding: 0 0.375rem;

    &.is-rounded {      
      padding: 0 0.5rem;
    }
    
    &.is-skeleton {
      width: 4rem;
    }

    &.is-circle {
      width: 1.5rem;
      .button__icon, i, svg {     
        width: 0.75rem;
        height: 0.75rem;        
      }
    }
  }

  &.g-size--small {
    height: 1.75rem;
    padding: 0 0.5rem;

    &.is-rounded {      
      padding: 0 0.75rem;
    }
    
    &.is-skeleton {
      width: 5rem;
    }

    &.is-circle {
      width: 1.75rem;
    }
  }

  &.g-size--medium {
    height: 2.25rem;
    padding: 0 0.5rem;

    &.is-rounded {      
      padding: 0 0.75rem;
    }

    &.is-skeleton {
      width: 5.25rem;
    }

    &.is-circle {
      width: 2.25rem;
    }

  }

  &.g-size--large {
    height: 2.75rem;
    font-size: 1rem;    
    padding: 0 0.75rem;

    &.is-rounded {      
      padding: 0 1rem;
    }

    &.is-skeleton {
      width: 5.75rem;
    }

    &.is-circle {
      width: 2.75rem;
    }
  }

  /* kind */  
  @include buttonMixin("default", $-color-default, $-color-default-outline, $-color-text, $-color-default-active, $-color-default-hover, $-color-default-focus);
  @include buttonMixin("primary", $-color-primary, $-color-primary, $-color-text-invert, $-color-primary-active, $-color-primary-hover, $-color-primary-focus);
  @include buttonMixin("secondary", $-color-secondary, $-color-secondary, $-color-text-invert, $-color-secondary-active, $-color-secondary-hover, $-color-secondary-focus);
  @include buttonMixin("success", $-color-success, $-color-success, $-color-text-invert, $-color-success-active, $-color-success-hover, $-color-success-focus);
  @include buttonMixin("warning", $-color-warning, $-color-warning, $-color-text-invert, $-color-warning-active, $-color-warning-hover, $-color-warning-focus);
  @include buttonMixin("error", $-color-error, $-color-error, $-color-text-invert, $-color-error-active, $-color-error-hover, $-color-error-focus);

  /* shape */
  &.is-ghost {
    background: none;
  } 

  &.is-rounded {
    border-radius: 99em;
  } 

  &.is-circle {
    border-radius: 50%;
  }

  /* status */
  .is-disabled, &:disabled {
    opacity: .7;
    cursor: not-allowed;    
  }

  &.is-skeleton {
    background: $-color-skeleton;    
    vertical-align: middle;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      background: $-color-skeleton-darken;
      opacity: .4;
      position: absolute;
      top: 0;
      left: 0;      
      animation: 1.2s linear infinite skeleton-animation;
    }
  }
}

@keyframes skeleton-animation {
  0% {
    opacity: 0;
  }
  
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}